.services {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0deg 0% 95%);
    color: hsl(240deg 2% 65%);
    height: 59vh;
}
.services .text {
    display: inline-block;
    position: relative;
    width: 55vh;
    color: var(--mainColorText);
    top: 7vh;
    text-align: center;
}
.ourService3in1 {
    display: flex;
    position: relative;
    top: 11vh;
    height: 33vh;
    width: 100vw;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
.iconservice {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 30vh;
    width: 1vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    left: 5vw;
}
.graphicDes {
    display: inline-flex;
    position: relative;
    width: 19vw;
    color: var(--mainColorH);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    top: 1.5vh;
    left: 7vh;
}
.titleGraph {
    font-size: 20px;
    font-weight: 700;
    color: var(--mainColorH);
    position: relative;
    top: 1.5vh;
}
.graphDesText {
    position: relative;
    line-height: 28px;
    top: 4.5vh;
    font-size: 16px;
    line-height: 23px;
    color: var(--mainColorText);
}
.graphDesText2 {
    font-size: 14px;
    position: relative;
    top: 8vh;
    line-height: 23px;
    color: var(--mainColorText);
}
.schedule {
    display: flex;
    width: 80vmin;
    height: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.schedule svg {
    width: 166px;
    height: 250px;
    
}

.oneCircleGraph2 {
    stroke-dasharray: 412;
}
.oneCircleGraph4 {
    stroke-dasharray: 352;
}
.oneCircleGraph6 {
    stroke-dasharray: 320;
}

.schedule div {
    display: inline-block;
    height: 250px;
    width: 166px;
}

.greenLine {
    display: inline-block;
    height: 4px;
    width: 100%;
    background-color: var(--mainColor_green);
    position: relative;
    bottom: -15vh;
}

.svgTextGr1 {
    font-family: "Roboto";
    font-size: 20px;
}












/*.schedule1:nth-child(1)::before {
    content: "Branding";
    color: black;
    display: inline-block;
    position: relative;
    top: 22vh;
    left: 2.2vw;
    font-family: "Roboto";
    color: var(--mainColorH);
    text-align: center;
}
.schedule1:nth-child(1)::after {
    content: "80%";
    color: black;
    display: inline-block;
    position: relative;
    top: -10vh;
    left: 3.7vw;
    font-family: "Roboto";
    font-weight: 700;
    color: var(--mainColorH);
}
.schedule2::before {
    content: "Web Design";
    color: black;
    display: inline-block;
    position: relative;
    top: 22vh;
    left: 2.2vw;
    font-family: "Roboto";
    color: var(--mainColorH);
    text-align: center;
}
.schedule2::after {
    content: "75%";
    color: black;
    display: inline-block;
    position: relative;
    top: -10vh;
    left: 3.7vw;
    font-family: "Roboto";
    font-weight: 700;
    color: var(--mainColorH);
}
.schedule3::before {
    content: "UI/UX";
    color: black;
    display: inline-block;
    position: relative;
    top: 22vh;
    left: 3.2vw;
    font-family: "Roboto";
    color: var(--mainColorH);
    text-align: center;
}
.schedule3::after {
    content: "60%";
    color: black;
    display: inline-block;
    position: relative;
    top: -10vh;
    left: 3.7vw;
    font-family: "Roboto";
    font-weight: 700;
    color: var(--mainColorH);
}
*/