.team {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 85vmin;
    align-items: center;
    
}
.team .text {
    display: inline-block;
    position: relative;
    width: 55vh;
    color: var(--mainColorText);
    top: 7vh;
    text-align: center;
}
.photo {
    display: inline-block;
    width: 30vh;
    height: 36vh;
    position: relative;
    background-image: url(../image/Layer\ 103.png);
    background-size: 100%;
    top: 13vh;
    left: -30vw;
}
.executor {
    display: inline-block;
    position: relative;
    font-size: 20px;
    top: -19vh;
    left: 30vw;
    color: var(--mainColorH);
}
.position {
    display: inline-block;
    position: relative;
    font-size: 14px;
    top: -19vh;
    left: 29.2vw;
    font-style: italic;
    text-transform: uppercase;
    color: var(--mainColorH);
}
.greenI {
    display: inline-block;
    position: relative;
    width: 0.25vw;
    height: 5.5vh;
    top: -24vh;
    left: 37vw;
    background-color: var(--mainColor_green);
}
.description {
    font-size: 14px;
    color: var(--mainColorText);
    display: inline-block;
    position: relative;
    height: 5vh;
    width: 18vw;
    top: -22vh;
    left: 25vw;
    text-align: right;
}
.graph div {
    display: inline-block;
    position: relative;
    height: 0.5vh;
    width: 100%;    
}
.graph {
    display: flex;
    height: 102px;
    width: 400px;
    position: relative;
    top: -17.5vh;
    right: -27vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
.graph svg text {
    font-family: "SourceSans";
}
.graph svg {
    width: 450px;
    height: 102px;
}
.scrol {
    display: inline-block;
    position: relative;
    top: -1vh;
}
.scrol span:hover {
    background-color: var(--mainColor_green);
}
.scrol span {
    display: inline-block;
    height: 7px;
    width: 7px;
    border: 2px var(--mainColor_green) solid;
    border-radius: 15px;
    position: relative;
    top: 0vh;
}