@import url(header.css) screen;
@import url(content_details.css) screen;
@import url(content_featured.css) screen;
@import url(content_services.css) screen;
@import url(content_portfolio.css) screen;
@import url(content_team.css) screen;
@import url(footer.css) screen;
@import url(fonts.css) screen;

html, body {
    width: 100%;
    height: 100%;
}
body {
    --mainColor: hsl(43deg 37% 96%);
    --mainColor_green: hsl(170deg 100% 38%);
    --mainColorH: hsl(240deg 2% 45%);
    --mainColorText: hsl(240deg 1% 58%);
    --mainColorTextBold: hsl(240deg 1% 45%);
    margin: 0;
}
.bouncy {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}
.icon:hover {
    background-color: var(--mainColor_green);
}
.icon {
    display: inline-block;
    border-radius: 25px;
    background-color: var(--mainColorH);
    font-family: "Pe-icon7";
    font-size: 25px;
    padding: 10px;
 }
 .textBold {
     font-weight: 700;
     color: var(--mainColorTextBold);
 }
 .greenText {
     color: var(--mainColor_green);
     font-weight: 700;
 }